<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bzu.hair.persistence.BusinessMapper">
    <select id="listBusinessType" resultType="java.lang.String">
        select distinct business_type
        from business
        where is_deleted = 0
    </select>

</mapper>